<?xml version="1.0" encoding="UTF-8"?>
<module type="JAVA_MODULE" version="4">
  <component name="NewModuleRootManager" inherit-compiler-output="true">
    <exclude-output />
    <content url="file://$MODULE_DIR$">
      <sourceFolder url="file://$MODULE_DIR$/src/main/groovy" isTestSource="false" />
      <sourceFolder url="file://$MODULE_DIR$/src/test/groovy" isTestSource="true" />
      <excludeFolder url="file://$MODULE_DIR$/bin" />
      <excludeFolder url="file://$MODULE_DIR$/gradle" />
    </content>
    <orderEntry type="jdk" jdkName="17" jdkType="JavaSDK" />
    <orderEntry type="sourceFolder" forTests="false" />
    <orderEntry type="library" name="groovy-4.0.2 (3)" level="project" />
    <orderEntry type="module" module-name="easyrest" />
    <orderEntry type="module" module-name="commercefacades" />
    <orderEntry type="module" module-name="cmsfacades" />
  </component>
</module>
